# Data Cleansing Step 3 (NYC)

In [9]:
import pandas as pd
import numpy as np
from datetime import datetime

In [10]:
nyc_weather = pd.read_csv("./Resources/Weather/NYC_Weather_Clean.csv")

In [11]:
nyc_merged_list_2018 = []

nyc_file_list_2018 = ["NYC_Trip_201801.csv", "NYC_Trip_201802.csv", "NYC_Trip_201803.csv", "NYC_Trip_201804.csv", 
                "NYC_Trip_201805.csv", "NYC_Trip_201806.csv", "NYC_Trip_201807.csv", "NYC_Trip_201808.csv",
                "NYC_Trip_201809.csv", "NYC_Trip_201810.csv", "NYC_Trip_201811.csv", "NYC_Trip_201812.csv"]

In [12]:
for file_name in nyc_file_list_2018:
    
    file_path = "./Resources/Bike_Data/NYC_Citibike/2018/Step_2/" + file_name
    nyc_trip_df = pd.read_csv(file_path)
    
    nyc_trip_groupby = nyc_trip_df.groupby(["start_date", "start_hour", "start_station_name"])
    nyc_trip_agg = nyc_trip_groupby.agg({"trip_duration": ["count", "mean"]})

    nyc_trip_agg.columns = nyc_trip_agg.columns.droplevel()
    nyc_trip_agg.rename(columns={"count": "trip_count", "mean": "trip_duration_avg"}, inplace=True)
    nyc_trip_agg.reset_index(level=["start_date", "start_hour", "start_station_name"], inplace=True)
    nyc_trip_agg["trip_duration_avg"] = nyc_trip_agg["trip_duration_avg"].astype(int)
    
    nyc_merged_df = nyc_trip_agg.merge(nyc_weather, how="inner", left_on="start_date", right_on="DATE")
    nyc_merged_df.drop(columns=["DATE"], inplace=True)
    
    nyc_merged_list_2018.append(nyc_merged_df)

In [13]:
nyc_merged_2018 = pd.concat(nyc_merged_list_2018)
nyc_merged_2018.to_csv("./Resources/Bike_Data/NYC_Citibike/2018/Step_3/nyc_hour_2018.csv", index=False )
nyc_merged_2018.head()

,start_date,start_hour,start_station_name,trip_count,trip_duration_avg,TAVG,TMAX,TMIN,PRCP,AWND,SNWD
0,01/01/2018,0,1 Ave & E 16 St,1,153,13,19,8,0.0,17.0,0.0
1,01/01/2018,0,1 Ave & E 18 St,1,1311,13,19,8,0.0,17.0,0.0
2,01/01/2018,0,31 Ave & 34 St,1,897,13,19,8,0.0,17.0,0.0
3,01/01/2018,0,35 St & Broadway,1,511,13,19,8,0.0,17.0,0.0
4,01/01/2018,0,46 Ave & 5 St,1,1763,13,19,8,0.0,17.0,0.0

In [14]:
nyc_list_2014 = []

nyc_file_list_2014 = ["NYC_Trip_201401.csv", "NYC_Trip_201402.csv", "NYC_Trip_201403.csv", "NYC_Trip_201404.csv", 
                "NYC_Trip_201405.csv", "NYC_Trip_201406.csv", "NYC_Trip_201407.csv", "NYC_Trip_201408.csv",
                "NYC_Trip_201409.csv", "NYC_Trip_201410.csv", "NYC_Trip_201411.csv", "NYC_Trip_201412.csv"]

In [15]:
for file_name in nyc_file_list_2014:
    
    file_path = "./Resources/Bike_Data/NYC_Citibike/2014/Step_2/" + file_name
    nyc_trip_df = pd.read_csv(file_path)
    
    nyc_trip_groupby = nyc_trip_df.groupby(["start_date", "start_hour", "start_station_name"])
    nyc_trip_agg = nyc_trip_groupby.agg({"trip_duration": ["count", "mean"]})

    nyc_trip_agg.columns = nyc_trip_agg.columns.droplevel()
    nyc_trip_agg.rename(columns={"count": "trip_count", "mean": "trip_duration_avg"}, inplace=True)
    nyc_trip_agg.reset_index(level=["start_date", "start_hour", "start_station_name"], inplace=True)
    nyc_trip_agg["trip_duration_avg"] = nyc_trip_agg["trip_duration_avg"].astype(int)
    
    nyc_list_2014.append(nyc_trip_agg)

In [16]:
nyc_2014 = pd.concat(nyc_list_2014)
nyc_2014.to_csv("./Resources/Bike_Data/NYC_Citibike/2014/Step_3/nyc_hour_2014.csv", index=False)
nyc_2014.head()

   start_date  start_hour start_station_name  trip_count  trip_duration_avg
0  01/01/2014           0    1 Ave & E 15 St           1                297
1  01/01/2014           0    1 Ave & E 30 St           1               1494
2  01/01/2014           0   12 Ave & W 40 St           1                755
3  01/01/2014           0    2 Ave & E 31 St           1                223
4  01/01/2014           0    8 Ave & W 31 St           1               1317

In [17]:
nyc_2014.to_csv("./Resources/Bike_Data/Cleaned/nyc_hour_2014.csv", index=False)
nyc_merged_2018.to_csv("./Resources/Bike_Data/Cleaned/nyc_hour_2018.csv", index=False)